
<h1>Your questions here</h1>

<div>
  <form action="/answer" data-turbo="false" class="form-group">
    <div class="col-md-4">
      <input type="text" class="form-control mb-3" placeholder="Enter text" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>

<!-- 1. Controller gets the parameter. 2. If condition depending on question, display different answers. 3. Display also answers -->
